body {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex: auto;
    background-color: gray;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 24px;
}

.container {
    margin-top: 125px;
    box-shadow: 10px 10px rgb(75, 217, 253);
    max-width: 350px;
    height: 450px;
    max-height: max-content;
    background-color: white;
    border-radius: 12px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    padding: 12px;
    display: flex;
    gap: 12px;
    flex-direction: column;
    justify-content: center;    
    align-items: stretch;
    flex: auto;
}

.equation {
    font-size: 24px;
    color: rgb(253, 75, 110);
}

.result {
    font-size: 48px;
}

.buttons, .display {
    border-radius: 8px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    box-sizing: border-box;
    background-color: rgb(216, 216, 216);
}

.display {
    box-sizing: border-box;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    text-align: right;
    flex: auto;
    height: 120px;
    max-height: 120px;
    overflow: auto;
    overflow-wrap: break-word;
    background-color: rgb(216, 216, 216);
}

.buttons {
    user-select: none;
    box-sizing: border-box;
    height: 500px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}

.clear {
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    gap: 8px;
}

.reset, .delete, .num, .operator, .decimal, .equal {
    background-color: white;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.reset, .delete {
    width: 200px;
    text-align: center;
    padding: 8px;
    background-color: rgb(253, 75, 110);
}

.num {
    background-color: white;
}

.operator:hover, .decimal:hover, .equal:hover {
    background-color: lightgray;
}

.reset:hover, .delete:hover {
    background-color: rgb(172, 46, 71)
}

.num:hover {
    background-color: lightgray
}

.row {
    display: flex;
    flex: 1 1 0;
    gap: 8px;
}

.num, .operator, .decimal, .equal {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
