body {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex: auto;
    background-color: slategray;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 24px;
}


.container {
    margin-top: 125px;
    box-shadow: 6px 6px darkslategray;
    max-width: 350px;
    height: 450px;
    background-color: rgb(223, 223, 223);
    border-radius: 12px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    padding: 12px;
    display: flex;
    gap: 12px;
    flex-direction: column;
    justify-content: center;    
    align-items: stretch;
    flex: auto;
}

.display {
    box-sizing: border-box;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    text-align: right;
    flex: auto;
    max-height: 100px;
    height: 100px;
}

.equation {
    font-size: 24px;
    color: darkslategray;
}

.result {
    font-size: 48px;
}

.buttons, .display {
    border-radius: 8px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    box-sizing: border-box;
    background-color: white;
}

.buttons {
    box-sizing: border-box;
    height: 500px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}

.clear {
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    gap: 8px;
}

.reset, .delete {
    width: 200px;
    text-align: center;
    padding: 8px;
}

.reset, .delete, .num, .operator, .decimal, .equal {
    background-color: lightgray;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.reset:hover, .delete:hover, .num:hover, .operator:hover, .decimal:hover, .equal:hover {
    background-color: darkgray;
}

.row {
    display: flex;
    flex: 1 1 0;
    gap: 8px;
}

.num, .operator, .decimal, .equal {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.operator, .decimal, .equal {
    color: darkslategray;
}