body {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex: auto;
    background-color: slategray;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 24px;
}


.container {
    box-sizing: border-box;
    margin-top: 125px;
    box-shadow: 6px 6px darkslategray;
    width: 350px;
    height: 450px;
    background-color: white;
    border-radius: 12px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    padding: 12px;
    display: flex;
    gap: 12px;
    flex: 0 1 auto;
    flex-direction: column;
    align-items: stretch;
}

.display {
    flex-grow: 1;
    height: 100px;
}

.buttons, .display {
    border-radius: 8px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.buttons {
    height: 500px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    gap: 8px;
}

.clear {
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    gap: 8px;
}

.reset, .delete {
    width: 200px;
    text-align: center;
    padding: 8px;   
}

.reset, .delete, .button {
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.row {
    display: flex;
    flex: 1 1 0;
    gap: 8px;
}

.button {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}